.export-activity {
	background-color: $generalSection;
	padding-top: 5.4375rem;
	padding-bottom: 8.1875rem;

	@include media-breakpoint-down(sm) {
		padding-top: 4.64285rem;
		padding-bottom: 4.64285rem;
	}

	h2 {
		font-size: 1.875rem;
		font-weight: 600;
		color: $generalMeetingsAnchor;

		@include media-breakpoint-down(lg) {
			font-size: 1.775rem;
		}

		@include media-breakpoint-down(xs) {
			font-size: 1.675rem;
		}
	}

	p {
		color: $generalText;
		line-height: 1.7;
		font-size: 1.125rem;
		margin-bottom: 1.5rem;

		@include media-breakpoint-down(lg) {
			font-size: 1.0625rem;
		}

		@include media-breakpoint-down(xs) {
			font-size: 1rem;
		}

		strong {
			font-weight: 600;
		}
	}

	ul {
		list-style: none;
		padding-left: 0.75rem;

		@include media-breakpoint-down(xs) {
			padding-left: 0;
		}

		li {
			font-size: 1.125rem;
			color: $generalText;
			position: relative;
			margin-bottom: .5rem;
			padding-left: 1.7625rem;

			&:before {
				content: "\2022";
				color: $bullets;
				font-weight: bold; 
				display: inline-block;
				position: absolute;
				left: 0;
			}

			strong {
				font-weight: 600;
			}

			@include media-breakpoint-down(lg) {
				font-size: 1.0625rem;
			}

			@include media-breakpoint-down(xs) {
				font-size: 1rem;
			}
		}
	}
}