.worldwide-intro {
	min-height: 100vh;
	background: #0b1a2c url("../images/worldwide_intro.jpg") center center no-repeat;
	background-size: 100%;
  	color: $white;

	.ww-title {
		font-size: 2.25rem;
		font-weight: 300;

		@include media-breakpoint-down(lg) {
			font-size: 2rem;
		}

		@include media-breakpoint-down(xs) {
			font-size: 1.75rem;
		}

		&:after {
			content: "";
			display: block;
			width: 59px;
			height: 1px;
			background-color: $light-blue;
			margin-top: 1.5rem;
		}
	}

	.ww-visit-site,
	.ww-location {
		font-weight: 600;
		color: $light-blue;
	}

	.ww-visit-site {
		font-size: 1.375rem;

		@include media-breakpoint-down(lg) {
			font-size: 1.28125rem;
		}

		@include media-breakpoint-down(xs) {
			font-size: 1.1875rem;
		}

	}

	.ww-visit-btn {
		font-size: 1rem;
		color: $white;
		font-weight: bold;
		text-decoration: none;

		@include media-breakpoint-down(lg) {
			font-size: 0.9375rem;
		}

		@include media-breakpoint-down(xs) {
			font-size: 0.875rem;
		}

		&:after {
			content: '\f178';
		    font-family: "Font Awesome 5";
		    font-weight: 300;
		    margin-left: 1rem;
		    display: block;
		    font-size: 1.125rem;
		    margin-top: 5px;

		    @include media-breakpoint-down(lg) {
				font-size: 1.0625rem;
			}

			@include media-breakpoint-down(xs) {
				font-size: 1rem;
			}
		}

		&:hover:after {
		    @include animation(arrowRight 0.15s linear);
		}
	}

	.ww-location {
		font-size: 1.125rem;
		margin-top: 2.2rem;

		@include media-breakpoint-down(lg) {
			font-size: 1.0625rem;
		}

		@include media-breakpoint-down(xs) {
			font-size: 1rem;
		}
	}

	.ww-list-wrapper {
		//max-height: 492px;

		.ww-list {
			max-width: 720px;
		}
	}

	.ww-country {

		display: block;
		background-color: #112740;
		padding: 12px 20px;
		font-size: 16px;
		margin: 3px;
		text-decoration: none;
		outline: 0;
		color: inherit;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		@include border-radius(4px);

		@include media-breakpoint-down(md) { font-size: 15px }
		@include media-breakpoint-down(sm) { font-size: 14px }

		&:hover {
			background-color: $worldwideWrapperHover;
			color: $worldwideWrapperHoverText;
			font-weight: 600;
		}

	}

	.footer {
		background-color: #0b1a2c;

		.ft-copyrights {
			border-color: #203956;
			color: #94a0ae;
		}
	}

}

@include keyframes(arrowRight) {
  0% { @include transform(translateX(0)); }
  50% { @include transform(translateX(5px)); }
  100% { @include transform(translateX(0)); }
}