%Center {

  top: 50%;
  left: 50%;
  @include transform(translate(-50%, -50%));

}

%xCenter {

  left: 50%;
  @include transform(translateX(-50%));

}

%vCenter {

  top: 50%;
  @include transform(translateY(-50%));

}

%afterCSS {

  position: absolute;
  right: 0;
  top: 0;
  z-index: 9;
  content: "";
  display: block;
  height: 100%;
  width: 100%;

}

%beforeCSS {

  position: absolute;
  left: 0;
  top: 0;
  z-index: 9;
  content: "";
  display: block;
  height: 100%;
  width: 100%;

}

%fixed-rendering {

  @include transform(translate3d(0, 0, 0));
  @include backface-visibility(hidden);
  @include perspective(1000px);

}

%vWriting {
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  @include transform(rotate(180deg));
}

%centerWriting {
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  @include transform(translate(-50%, -50%) rotate(180deg));
}